{{define "root-style"}}
{{end}}
{{define "root-body"}}
<div id="body"></div>
{{end}} {{define "root-script"}}
<script>
  Ext.onReady(function() {
    var panel = new Ext.Panel({
      renderTo: 'content',
      layout: 'column',
      items: [
        {
          columnWidth: 0.3,
          html: '<div id="dataForecast"></div>'
        },
        {
          columnWidth: 0.7,
          html: '<div id="dataTable"></div>'
        }
      ]
    });

    var form = new Ext.FormPanel({
      renderTo: 'dataForecast',
      labelWidth: 75,
      title: 'Forecast Detail',
      frame:true,
      defaults: {width: 200},
      items: [
        {
          xtype: 'textfield',
          fieldLabel: 'Forecast No.',
          name: 'forecastNo',
          allowBlank: false,
          id: 'forecastNo',
          readOnly: true,
          style: 'background: #ecf0f1;'
        },
        {
          xtype: 'textfield',
          fieldLabel: 'Group Name',
          name: 'groupName',
          allowBlank: false,
          id: 'groupName',
          readOnly: true,
          style: 'background: #ecf0f1;'
        },
        {
          xtype: 'textfield',
          fieldLabel: 'Total Part',
          name: 'totalPart',
          allowBlank: false,
          id: 'totalPart',
          readOnly: true,
          style: 'background: #ecf0f1;'
        }
      ],
      buttons: [{
        text: 'Download File',
        handler: function() {
          window.open('{{.api_url}}/api/mps/file/{{.no}}', 'file', 'height=200,width=200');
        }
      }]
    });

    var myMask = new Ext.LoadMask(Ext.getBody(), {msg:"Please wait..."});
    myMask.show();

    $.ajax({
      type: 'POST',
      headers: {
        'Content-Type': 'application/json; charset=utf-8',
        'Authorization': localStorage.getItem('token')
      },
      dataType: 'json',
      url: '{{.api_url}}/api/mps/findgforecastbyforecastno',
      data: JSON.stringify({'forecastNo': '{{.no}}'}),
      success: function(result) {
        $('#forecastNo').val(result.forecastNo);
        $('#groupName').val(result.groupName);
        $('#totalPart').val(result.totalPart);

        var columnT = [
          {
            id: 'no',
            header: '#',
            dataIndex: 'no',
            width    : 30,
            locked: true
          },
          {
            id: 'part',
            header: 'Part',
            dataIndex: 'part',
            width    : 120,
            locked: true
          },
          {
            id: 'codeSap',
            header: 'Code SAP',
            dataIndex: 'codeSap',
            width    : 120,
            locked: true
          }
        ];

        var fieldsStore = [
          { name: 'no' },
          { name: 'part' },
          { name: 'codeSap' }
        ];

        var i = 0;
        for(i = 0; i < result.weeks.length; i++) {
          var field = {
            name: result.weeks[i]
          }
          fieldsStore.push(field);

          var ofi = {
            id: result.weeks[i],
            header: result.weeks[i],
            dataIndex: result.weeks[i],
            width    : 100
          }
          columnT.push(ofi);
        }

        var store = new Ext.data.JsonStore({
          fields: fieldsStore,
          root: 'dataForecast'
        });

        var grid = new Ext.grid.GridPanel({
          renderTo: 'dataTable',
          height:470,
          store: store,
          title:'Detail Forecast',
          colModel: new Ext.ux.grid.LockingColumnModel(columnT),
          view: new Ext.ux.grid.LockingGridView({})
        });

        store.loadData(result);

        myMask.hide();
      },
      error: function(err) {
        myMask.hide();
        var resErr = err.responseJSON;
        if(resErr.message.indexOf('token fail') >= 0) {
          localStorage.clear();
          window.location.href = '/login';
        }
      }
    });
  });
</script>
{{end}}